  {{ template "_header.html" . }}
  <section class="section">
    <div class="content container">
        <table>
            <tbody>
              <tr>
                <td><a href="/link">Link Builder</a></td>
                <td>Creates a link HTML tag</td>
              </tr>
              <tr>
                <td><a href="/img">Image Builder</a></td>
                <td>Creates an image HTML tag</td>
              </tr>
            </tbody>
          </table>
    </div>
  </section>
  {{ template "_footer.html" . }}